@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --lovelyGradientColor1: green;
    --lovelyGradientColor2: Blue;
}

.body {
    background-color: cadetblue;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1f);
    grid-template-rows: repeat(12, 1fr);
    font-family: 'Schibsted+Grostesk'
}

.NavBar {
    background: red;
    grid-column: 1 / span 12;
    grid-row: 1 ;
}

.Footer {
    background: #DBDFFD ;
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.LeftPanel  {
    background-color: #DBDFFD ; 
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.RightPanel {
    background-color: #DBDFFD ;
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.Content {
    background-color: #DBDFFD ;
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
    background: linear-gradient(45deg, var(--lovelyGradientColor1), (--lovelyGradientColor2))
}

@media screen and (max-width:1024px) {
    .LeftPanel  {
        background-color:  red; 
        grid-column: 1 / span 3;
        grid-row: 2 / span 5;
    }
    
    .RightPanel {
        background-color: red ;
        grid-column: 10 / span 3;
        grid-row: 2 / span 10;
    }
    
    .Content {
        background-color: red ;
        grid-column: 4 / span 6;
        grid-row: 2 / span 10;
    }


}.LeftPanel {
    background-color: red;
    grid-column: 1 / span 3;
    grid-row: 2 / span 5;

}

.RightPanel {
    background-color: red;
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}

.Content {
    background-color: red;
    grid-column: 4 / span 6;
    grid-row: 2 / span 10;
}

/* For mobile devices */
@media screen and (max-width: 767px) {
    .LeftPanel {
        background-color: green;
        grid-column: 1 / span 1;
        grid-row: 2 / span 5;
    }

    .RightPanel {
        background-color: blue;
        grid-column: 12 / span 1;
        grid-row: 2 / span 10;
        
    }

    .Content {
        background-color: green;
        grid-column: 2 / span 10;
        grid-row: 2 / span 10;
    }
}