* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: cadetblue;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1f);
    grid-template-rows: repeat(12, 1fr);
}
.navbar {
    background: red;
    grid-column: 1 / span 12;
    grid-row: 1 ;
}

.Footer {
    background: #DBDFFD ;
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.LeftPanel  {
    background-color: #DBDFFD ; 
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

RightPanel {
    background-color: #DBDFFD ;
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.Content {
    background-color: #DBDFFD ;
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}